body{
	background-color: #2E453A;
	text-align: center;
	font-family: Rockwell;
	margin-top: 20px;
}

a {
	text-decoration: none;
}

.container {
	margin-bottom: 30px
}
.button {
	background: white;
	color: #3D5C4D;
	padding: 10px 25px;
	font-size: 20px;
}
.button:hover {
	background:  #537D68;
	color: white;
}
#main-menu {
	list-style: none;
	padding: 0;
	margin: 10px;
	text-align: center;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(6,1fr);
}
/* MAIN ARTICLE SECTION */
.main-article { 
	background: 47E9BF;
	padding: 20px;
	text-align: center;
	color: white;
	margin-bottom: 10px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 2fr 1fr;
}
/* MAIN ARTICLE LEFT */
.main-article-left p {
	margin: 20px 0 20px 0;
}
.main-article-left h3 {
	margin-bottom: 10px;
	margin-top: 10px;
}
.main-article-left {
	background: #3D5C4D;
	padding: 50px;
	display: grid;
	grid-gap: 1px;
	grid-template-columns: 5fr 4fr;
}
/* MAIN ARTICLE RIGHT */
.main-article-right p {
	padding: 10px;
	display: grid;
	grid-gap: 1px;
	background-color: #3D5C4D;
	font-size: 20px;
}
.main-article-right {
	margin-bottom: 40px;
	background-color: #3D5C4D
}

.second-article-left p {
	margin: 20px 0 20px 0;
	background-color: #3D5C4D;
}
.second-article-left h3 {
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #3D5C4D;
}

h1 {
	color: white;
	font-family: Verdana;
}
/* MAIN ARTICLE SECTION */
.main-article2 { 
	background: 47E9BF;
	padding: 20px;
	text-align: center;
	color: white;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
}
/* MAIN ARTICLE LEFT 2 */
.main-article-left2 {
	background: #3D5C4D;
	padding: 30px;
}
/* MAIN ARTICLE RIGHT 2 */
.main-article-right2 p {
	padding: 10px;
	background-color: #3D5C4D;
	font-size: 20px;
}
.main-article-right2 {
	margin-bottom: 40px;
	background-color: #3D5C4D;
}

h1 {
	color: #3D5C4D;
	font-family: Verdana;
	background-color: white;
	
}
h3 {
	font-size: 30px;
}

/* FOOTER SECTION */
.footer {
	text-align: center;
	padding: 2px;
	color: white;
	font-size: 20px;
	border: 5px white solid;
	margin-top: 10px;
}
#p1 {
	font-size: 20px;
	text-align: left;
	padding: 20px;
}
#h1 {
	font-size: 30px;
	font-family: Clarendon BT;
	text-align: center;
}
#h2 {
	font-size: 30px;
	font-family: Clarendon BT;
}